@import '../../base';

.result {

    margin: 4em;
    margin-bottom: 7em;
    padding: 3em;
    padding-left: 10em;
    border: 3px dashed $darkPink;
    min-height: 10em;
    text-align: left;
  
  }

  
  ul {
    list-style-type: none;
  }